<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Framework Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<!-- Biblioteca JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

	<!-- CSS Externo -->
	<link rel="stylesheet" href="../css/cadastre-se.css">

	<!-- Fivecon -->
	<link rel="shortcut icon" href="../img/favicons/Mae.png" type="image/x-icon" />
	<title> Cadastro | Guerreira Empreendedoras</title>
</head>

<body>
	<!-- Navbar -->
	<div th:replace="base :: navlinks"> </div>
	<!-- CORPO -->
	<main class="container">
		<div class="row" id="paraBaixo">
			<div class="col-sm-12">
				<h1>Cadastrar Feed</h1>
			</div>
		</div>
		<div class="container mt-8">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<h4>Cadastro de Relatos</h4>
						</div>
						<div class="card-body">
							<form method="POST" th:action="@{/postagens/salvarPoste}" th:object="${postagens}"
								enctype="multipart/form-data">
								<div class="mb-3">
									<label for="nome" class="form-label">Nome do Usuário</label>
									<input type="text" class="form-control" id="nome" th:field="*{nome}">
								</div>
								<div class="mb-3">
									<label for="descricao" class="form-label">O que você deseja relatar?</label>
									<textarea <input type="text" class="form-control" id="descricao"
										th:field="*{descricao}">>
								</textarea>
								</div>
								<div class="mb-3">
									<label for="imagem">Foto:</label>
									<input type="file" class="form-control" id="imagem" name="imagem">
								</div>
								<div class="mb-3">
									<div class="col d-flex justify-content-center">
										<label for="area" class="form-label">Area atuação</label>
										<select class="form-check-label" id="area" name="area"
											th:field="*{area}">
											<option class="bi-star-fill" value="Tecnologia e Inovação">Tecnologia e Inovação:</option>
											<option class="bi-star-fill" value="Comércio">Comércio:</option>
											<option class="bi-star-fill" value="Saúde e Bem-Estar">Saúde e Bem-Estar:</option>
											<option class="bi-star-fill" value="Alimentação e Bebidas">Alimentação e Bebidas:</option>
											<option class="bi-star-fill" value="Educação">Educação:</option>
											<option class="bi-star-fill" value="Sustentabilidade">Sustentabilidade:</option>
											<option class="bi-star-fill" value="Prestação de Serviços">Serviços:</option>
											<option class="bi-star-fill" value="Arte e Entretenimento">Arte e Entretenimento:</option>
											<option class="bi-star-fill" value="Moda e Beleza">Moda e Beleza:</option>
											<option class="bi-star-fill" value="Arte e Entretenimento">Arte e Entretenimento:</option>
											<option class="bi-star-fill" value="Construção e Imobiliário">Construção e Imobiliário:</option>
											<option class="bi-star-fill" value="Turismo e Hospitalidade">Turismo e Hospitalidade:</option>
										</select>
									</div>
								</div>

								<button type="submit" class="btn btn-primary">Salvar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
	</main>
	<!-- RODAPÉ -->
	<div class="container" th:replace="base :: footer"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>

</body>

</html>