@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --fonte-comum: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; ;
    --fonte-especial: ;
    --cor-especial: #FF0066;
    --cor-texto1: black;
    --cor-texto2: white;
    --cor-texto3: #acc1cc;

    --cor-rect: rgba(0, 0, 0, 0.7);
    
    --gradient: linear-gradient(to bottom,
            var(--cor-especial),
            transparent);
}

* {
    font-family: var(--fonte-comum);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* navbar */
.bd-navbar {
    background-image: var(--gradient);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.navbar-nav {
    --bs-nav-link-color: var(--cor-texto2);
    --bs-nav-link-hover-color: var(--cor-especial);
    font-size: 25px;
}

#navbarLogo { /* logo da navbar */
    max-width: 3rem;
}

#togglerLogo { /* logo botão mobile */
    max-width: 2rem;
}

.btn-primary {
    --bs-btn-color: var(--cor-texto2);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--cor-texto2);
    --bs-btn-hover-color: var(--cor-especial);
    --bs-btn-hover-bg: var(--cor-texto1);
    --bs-btn-hover-border-color: black;
    filter: drop-shadow(1px 1px 10px var(--cor-especial));
}

/* Footer */
.text-body-color { /* cor dos links do footer */
    color: var(--cor-especial);
}

.text-center { /* copyright */
    color: var(--cor-texto3);
}

/* css incio pag login */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 10px;
   
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* css fim pag login */

/* pag inspired e cadastre */
#paraBaixo{
    margin-top: 100px;
    padding: 20px;

}

